/* Whole document: */
body{
  font-family: Montserrat;
  font-size: 12pt;
}

/* Captions */
<style>
p.caption {
  font-size: 0.9em;
  font-style: italic;
  color: grey;
  margin-right: 10%;
  margin-left: 10%;
  text-align: justify;
}
</style>
